h1{
    color: springgreen;
    background-color: #E9E9E9; /*Hex Codes Color Representation*/ 
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3px;
    column-count: 3;
    column-gap: 60px;
}
p{
    color: orange;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    line-height: 40px;
/*Borders are block-level elements*/
}
ul{
  /* border-style: dotted;
  border-width: 4px;
  border-color: crimson; */
  border: 4px crimson dotted;
  border-bottom: 4px green solid;
  border-left: 8px dashed crimson; 
}
/* list-style-type Defaults to disc, and represents the shape of the bullet points in an UL 
text-shadow: horizontal offset, vertical offset, color. Colors can also be represented by specifying color hex-codes instead of using preset colours provided*/
li{
    list-style-type: square;
    text-shadow: 1px 1px rgb(241, 74, 8)
}
/* Convert Inline Elements to Block-Level elements and vice-versa, the browser automatically applies CSS rules (display:block) to block-level elements, but does not do so for in-line elements*/
span{
    /* In-line Element: display: block*/
    margin: 20px;
    padding: 30px;
    display: inline-block
}
div{
    /* Block Level Element: display: inline;*/
    border: 2px solid purple;
    margin: 20px;
    padding: 20px;
}